### Practicle No. 2

##### Practical No. 2: Implementation of Single Perceptron for Titanic Dataset

In [2]:
import pandas as pd

In [3]:
dataset1=pd.read_csv('/Users/sharvarisoparkar/Downloads/titanic-dataset.csv')

In [4]:
dataset1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
dataset1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
dataset1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
dataset1.drop(['Name','Cabin','SibSp','Parch','Ticket','Embarked'],axis=1, inplace = True)

In [9]:
dataset1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
Fare             0
dtype: int64

In [10]:
dataset1['Age'].fillna(0, inplace=True)

In [11]:
dataset1.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
Fare           0
dtype: int64

In [12]:
dataset1['Sex'].replace({'male':1,'female':0},inplace=True)

In [13]:
dataset1 = dataset1.drop('Fare',axis='columns')

In [14]:
dataset1 = dataset1.drop('PassengerId',axis='columns')

In [15]:
print("final clean dataset ")
dataset1

final clean dataset

     Survived  Pclass  Sex   Age
0           0       3    1  22.0
1           1       1    0  38.0
2           1       3    0  26.0
3           1       1    0  35.0
4           0       3    1  35.0
..        ...     ...  ...   ...
886         0       2    1  27.0
887         1       1    0  19.0
888         0       3    0   0.0
889         1       1    1  26.0
890         0       3    1  32.0

[891 rows x 4 columns]

In [16]:
target= dataset1['Survived'] #dependent variable
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [17]:
dataset1 = dataset1.drop('Survived',axis='columns')

In [18]:
dataset1['Pclass']= dataset1['Pclass'].astype(int)
dataset1['Sex']= dataset1['Sex'].astype(int)
dataset1['Age']= dataset1['Age'].astype(int)

In [19]:
dataset1

     Pclass  Sex  Age
0         3    1   22
1         1    0   38
2         3    0   26
3         1    0   35
4         3    1   35
..      ...  ...  ...
886       2    1   27
887       1    0   19
888       3    0    0
889       1    1   26
890       3    1   32

[891 rows x 3 columns]

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(dataset1,target,test_size=0.3)

In [21]:
import numpy as np
class Perceptron:
  def __init__(self,lr_rate,epochs):
    self.weights=None
    self.bias=None
    self.lr_rate = lr_rate
    self.epochs = epochs

  def activation(self,z):
      return np.heaviside(z,0)

  def fit(self,X,y):
      n_samples,n_features = X.shape
      self.weights = np.zeros(n_features)
      self.bias = 0

      for epoch in range (self.epochs):
          for i in range(n_samples):
              # z=np.dot(X.iloc[i], self.weights)+self.bias
              # y_pred = self.activation(z)
              z = np.dot(X.iloc[i], self.weights) + self.bias
              y_pred = self.activation(z)

              #updating weights and bias
              self.weights += self.lr_rate*(y.iloc[i]-y_pred)*X.iloc[i]
              self.bias += self.lr_rate*(y.iloc[i]-y_pred)

  def predict(self,X):
      z = np.dot(X,self.weights +self.bias)
      return self.activation(z)

In [22]:
perceptron = Perceptron(0.01,15)
perceptron.fit(x_train,y_train)
pred =perceptron.predict(x_test)

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.4216417910447761

In [24]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       155
           1       0.42      1.00      0.59       113

    accuracy                           0.42       268
   macro avg       0.21      0.50      0.30       268
weighted avg       0.18      0.42      0.25       268

/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [25]:
#lr rate  epoch accuracy
# 0.01        10
# 0.01        20
# 0.001       10
# 0.001       20

##### Hyperparameter Tuning with GridSearchCV:
>> Define a grid of hyperparameters for the perceptron (e.g., learning rate, number
of epochs, activation function).

>> Use GridSearchCV to find the best combination of hyperparameters.

In [31]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score

In [32]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(dataset1,target,test_size=0.3, random_state=42)
# Define the hyperparameter grid
param_grid = {'alpha': [0.0001, 0.001, 0.01, 0.1, 1.0],'max_iter': [10, 50, 100, 200, 500]}
#Perform grid search with cross-validation
grid_search = GridSearchCV(perceptron, param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_stochastic_gradient.py:713: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

GridSearchCV(cv=5, estimator=Perceptron(),
             param_grid={'alpha': [0.0001, 0.001, 0.01, 0.1, 1.0],
                         'max_iter': [10, 50, 100, 200, 500]},
             scoring='accuracy')

In [34]:
# Get the best parameters
best_params = grid_search.best_params_
print("Best Parameters:", best_params)

Best Parameters: {'alpha': 0.0001, 'max_iter': 50}

In [40]:
# Initialize the perceptron with the best parameters
best_perceptron = Perceptron(alpha=best_params['alpha'],max_iter=best_params['max_iter'])

In [41]:
# Train the perceptron
best_perceptron.fit(X_train, y_train)
# Make predictions on the test set
y_pred = best_perceptron.predict(X_test)
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.4962686567164179